@import url("./fonts.css");
@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");
#wrap {
  width: 100%;
  height: 100%;
  padding: 0 0 0 89px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#wrap #main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
#wrap #main::-webkit-scrollbar {
  display: none;
}
#wrap #main .quickNavi {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 89;
}
#wrap #main .quickNavi .quickNavi-wrap {
  position: fixed;
  top: 60px;
  right: 60px;
}
#wrap #main .quickNavi .quickNavi-wrap > a {
  font-size: 15px;
  color: #222;
  opacity: 0.5;
  margin-left: 18px;
  transition: all 0.2s;
}
#wrap #main .quickNavi .quickNavi-wrap > a:hover {
  color: #222;
  opacity: 1;
}
#wrap #main .mainNavi {
  position: fixed;
  top: 50%;
  right: 0;
  width: 51px;
  margin-top: -34px;
  z-index: 90;
}
#wrap #main .mainNavi > ul {
  width: 100%;
}
#wrap #main .mainNavi > ul > li {
  width: 100%;
  padding: 5px 0;
}
#wrap #main .mainNavi > ul > li.on > a {
  width: 100%;
}
#wrap #main .mainNavi > ul > li.on > a i::before {
  opacity: 1;
}
#wrap #main .mainNavi > ul > li.on > a i::after {
  opacity: 1;
}
#wrap #main .mainNavi > ul > li > a {
  display: inline-block;
  width: 53px;
  height: 10px;
}
#wrap #main .mainNavi > ul > li > a > i {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 0.2px;
  vertical-align: middle;
  background: #555;
}
#wrap #main .mainNavi > ul > li > a > i::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  background: #222;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
#wrap #main .mainNavi > ul > li > a > i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-top: 0;
  border-radius: 50%;
  background: #222;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#wrap #main #section1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#wrap #main #section1 .slide-container {
  width: 100%;
  position: relative;
}
#wrap #main #section1 .slide-container .slide-view {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap {
  position: relative;
  width: 900%;
  display: flex;
  margin: 0 0 0 -100%;
  left: 0;
  top: 0;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
  position: relative;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100vh;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a > img {
  width: 100%;
  transform: scale(1.1);
  position: absolute;
  z-index: 1;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a .slide-text {
  position: absolute;
  top: 35%;
  left: 100px;
  z-index: 10;
  width: 550px;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a .slide-text h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 70px;
  color: #222;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a .slide-text h3 {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #222;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a .slide-text button {
  margin-top: 36px;
  width: 176px;
  height: 46px;
  border: 1px solid #222;
  background: none;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  z-index: 11;
  transition: all 0.3s;
}
#wrap #main #section1 .slide-container .slide-view .slide-wrap .slide a .slide-text button:hover {
  z-index: 11;
  background: #222;
  color: #fff;
}
#wrap #main #section1 .slide-container .slide-btn-box {
  z-index: 2;
  position: absolute;
  bottom: 30px;
  left: 46%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#wrap #main #section1 .slide-container .slide-btn-box .slide-btn {
  margin: 0 12px;
}
#wrap #main #section1 .slide-container .slide-btn-box .slide-btn:first-child {
  margin-left: 0;
}
#wrap #main #section1 .slide-container .slide-btn-box .slide-btn a {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #888;
  font-size: 0;
  transition: all 0.3s;
}
#wrap #main #section1 .slide-container .slide-btn-box .slide-btn a.on {
  background: #333;
}
#wrap #main #section2 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#wrap #main #section2 .sec2-container {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section2 .sec2-container > img {
  width: 100%;
}
#wrap #main #section2 .sec2-container .text-box {
  position: absolute;
  top: 50%;
  left: 32%;
  margin-top: -200px;
  text-align: center;
  opacity: 0;
  transform: translateY(-60%);
}
#wrap #main #section2 .sec2-container .text-box.on {
  opacity: 1;
  transform: translateY(0%);
}
#wrap #main #section2 .sec2-container .text-box.on h3 {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section2 .sec2-container .text-box.on h2 {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section2 .sec2-container .text-box.on p {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section2 .sec2-container .text-box.on > button {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section2 .sec2-container .text-box h3 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #fff;
  font-family: "Arial";
  opacity: 0;
  transform: translateY(20px);
  transition-delay: 0.3s;
  transition-duration: 0.3s;
}
#wrap #main #section2 .sec2-container .text-box h2 {
  margin-top: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 80px;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition-delay: 0.3s;
  transition-duration: 0.3s;
}
#wrap #main #section2 .sec2-container .text-box p {
  margin-top: 24px;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  opacity: 0;
  transform: translateY(20px);
  transition-delay: 0.3s;
  transition-duration: 0.3s;
}
#wrap #main #section2 .sec2-container .text-box > button {
  margin-top: 42px;
  width: 138px;
  height: 38px;
  padding: 0 10px;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  transition-delay: 0.5s;
}
#wrap #main #section2 .sec2-container .text-box > button:hover {
  background: #222;
  border-color: #222;
}
#wrap #main #section3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}
#wrap #main #section3 .sec3-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
}
#wrap #main #section3 .sec3-container .content-box {
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#wrap #main #section3 .sec3-container .content-box.on {
  opacity: 1;
}
#wrap #main #section3 .sec3-container .content-box.on .con-text1 {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section3 .sec3-container .content-box.on .con-text2 {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section3 .sec3-container .content-box.on .moreVod-btn {
  opacity: 1;
  transform: translateY(0);
}
#wrap #main #section3 .sec3-container .content-box .con-text1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
#wrap #main #section3 .sec3-container .content-box .con-text2 {
  margin-top: 20px;
  font-size: 14px;
  line-height: 26px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}
#wrap #main #section3 .sec3-container .content-box .moreVod-btn {
  margin-top: 42px;
  width: 140px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 0 10px;
  background: rgb(34, 34, 34);
  opacity: 0;
  transform: translateY(20px);
  transition-delay: 0.7s;
  transition-duration: 0.2s;
  cursor: pointer;
}
#wrap #main #section3 .sec3-container .content-box .moreVod-btn:hover {
  background: #fff;
  color: rgb(34, 34, 34);
}
#wrap #main #section3 .sec3-container .vod-box {
  margin-left: 100px;
  width: 723px;
  height: 406px;
}
#wrap #main #section3 .sec3-container .vod-box .vod-wrap {
  width: 723px;
  height: 406px;
  position: relative;
}
#wrap #main #section3 .sec3-container .vod-box .vod-wrap > a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/index/1651135040293.jpg) no-repeat 50% 50%;
  background-size: 100%;
}
#wrap #main #section3 .sec3-container .vod-box .vod-wrap > a > img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 45%;
  left: 45%;
}
#wrap #main #section4 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}
#wrap #main #section4 .sec4-container {
  width: 100%;
  height: 100%;
  padding: 50px 86.75px;
  display: flex;
  flex-flow: column nowrap;
}
#wrap #main #section4 .sec4-container > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 63.25px;
}
#wrap #main #section4 .sec4-container > ul > li {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
#wrap #main #section4 .sec4-container > ul > li:hover .img-box {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section4 .sec4-container > ul > li:hover .img-box img {
  transform: scale(1.12);
}
#wrap #main #section4 .sec4-container > ul > li:hover .subtext-box span {
  color: #ddd;
}
#wrap #main #section4 .sec4-container > ul > li:hover .subtext-box p {
  color: #bbb;
}
#wrap #main #section4 .sec4-container > ul > li a {
  width: 100%;
  height: 100%;
  display: block;
}
#wrap #main #section4 .sec4-container > ul > li a .img-box {
  width: 100%;
  overflow: hidden;
}
#wrap #main #section4 .sec4-container > ul > li a .img-box img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
#wrap #main #section4 .sec4-container > ul > li a .subtext-box {
  width: 100%;
  margin-top: 25px;
}
#wrap #main #section4 .sec4-container > ul > li a .subtext-box span {
  font-size: 14px;
  font-weight: 500;
  color: #999;
  font-family: "Montserrat";
  transition: all 0.2s;
}
#wrap #main #section4 .sec4-container > ul > li a .subtext-box p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #222;
  word-wrap: break-word;
  word-break: keep-all;
  transition: all 0.2s;
}
#wrap #main #section4 .sec4-container .sec4-pagenation {
  width: 100%;
  height: 100%;
  padding: 30px 0 0 0;
  text-align: center;
  border-top: 2px solid #eee;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .first {
  margin-right: 9px;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .first a img {
  width: auto;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .prev {
  margin-right: 9px;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .prev a img {
  width: auto;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .current {
  display: inline-block;
  vertical-align: middle;
  padding: 0 7px;
  margin-right: 33px;
  font-size: 14px;
  position: relative;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .current::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 20px;
  height: 2px;
  margin-top: -1px;
  background: rgb(221, 221, 221);
}
#wrap #main #section4 .sec4-container .sec4-pagenation .next {
  margin-left: 9px;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .next a img {
  width: auto;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .last {
  margin-left: 9px;
}
#wrap #main #section4 .sec4-container .sec4-pagenation .last a img {
  width: auto;
}
#wrap #main #footer {
  width: 100%;
  height: 352px;
  position: relative;
}
#wrap #main #footer .row1 {
  background: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  border-top: 1px solid #eee;
}
#wrap #main #footer .row1 .left-box {
  font-weight: 400;
}
#wrap #main #footer .row1 .left-box a {
  padding: 0 10px;
  font-size: 13px;
  color: #999;
  transition: all 0.2s;
}
#wrap #main #footer .row1 .left-box a:hover {
  color: #222;
}
#wrap #main #footer .row1 .left-box a:nth-child(5) {
  color: #222;
  transition: all 0.2s;
}
#wrap #main #footer .row1 .left-box a:nth-child(5):hover {
  color: #777;
}
#wrap #main #footer .row1 .left-box i {
  font-size: 12px;
  color: #dcdcdc;
}
#wrap #main #footer .row1 .right-box select {
  width: 120px;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(85, 85, 85);
  border: 0;
  outline: 0;
}
#wrap #main #footer .row1 .right-box i {
  font-size: 12px;
  color: #eee;
  margin: 0 10px;
}
#wrap #main #footer .row2 {
  width: 100%;
  height: 186px;
  background: #f9f9f9;
  padding: 25px 60px;
}
#wrap #main #footer .row2 .foot-info {
  width: 100%;
  position: relative;
}
#wrap #main #footer .row2 .foot-info .address {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
#wrap #main #footer .row2 .foot-info .address p {
  color: rgb(153, 153, 153);
}
#wrap #main #footer .row2 .foot-info .address p i {
  font-size: 10px;
  color: rgb(220, 220, 220);
  margin: 0 8px;
}
#wrap #main #footer .row2 .foot-info .address p a {
  display: inline-block;
}
#wrap #main #footer .row2 .foot-info .address p a.business-info {
  font-size: 11px;
  width: 110px;
  height: 18px;
  padding: 0 10px;
  margin-left: 5px;
  color: rgb(153, 153, 153);
  text-align: center;
  justify-content: center;
  background: rgb(238, 238, 238);
  border: 1px solid rgb(187, 187, 187);
  vertical-align: top;
  transition: all 0.2s;
}
#wrap #main #footer .row2 .foot-info .address p a.business-info:hover {
  color: #fff;
  background: #888;
}
#wrap #main #footer .row2 .foot-info .address p a.mail {
  vertical-align: top;
  text-decoration: underline;
  color: rgb(153, 153, 153);
}
#wrap #main #footer .row2 .foot-info .address p a.mail:hover {
  color: #333;
}
#wrap #main #footer .row2 .foot-info .address em {
  display: block;
  margin: 16px 0 0 0;
  font-size: 11px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(153, 153, 153);
}
#wrap #main #footer .row2 .foot-info .foot-sns {
  position: absolute;
  top: 0;
  right: 0;
}
#wrap #main #footer .row2 .foot-info .foot-sns a {
  width: 25px;
  height: 25px;
  margin: 0 8px;
  overflow: hidden;
}
#wrap #main #footer .row2 .foot-info .foot-sns a:hover {
  opacity: 0.7;
}
#wrap #main #footer .row2 .foot-info .foot-sns a img {
  border-radius: 10px;
  width: 25px;
  height: 25px;
}
#wrap #main #footer .row3 {
  width: 100%;
  height: 106px;
  background: #f9f9f9;
  border-top: 1px solid #eee;
}
#wrap #main #footer .row3 .foot-mark {
  width: 100%;
  height: 100%;
  padding: 30px 60px 40px 60px;
}
#wrap #main #footer .row3 .foot-mark ul {
  width: 100%;
  display: flex;
}
#wrap #main #footer .row3 .foot-mark ul li {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
#wrap #main #footer .row3 .foot-mark ul li img {
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
}
#wrap #main #footer .row3 .foot-mark ul li span {
  font-size: 11px;
  line-height: 14px;
  color: rgb(153, 153, 153);
}
#wrap #main #footer .row3 .foot-mark ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrap #main #footer .row3 .foot-mark ul li a:hover span {
  color: #222;
}
#wrap #main #footer .row3 .foot-mark ul li a img {
  width: 36px;
  height: 36px;
}
#wrap #main #footer .row3 .foot-mark ul li a span {
  font-size: 11px;
  line-height: 14px;
  color: rgb(153, 153, 153);
}